<form id="mc-form" asp-action="Subscribe" method="post">
    <div class="input-group">
        <input type="email" id="email" class="form-control form-control-light text-lowercase" name="email" placeholder="Enter your Email here...">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-color">
                <i class="fa fa-paper-plane"></i>
            </button>
        </span>
    </div>
    <div id="message-newsletter" class="message-wrapper text-white message">
        <span><label class="message-text" for="email"></label></span>
    </div>
</form>