@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>SafeBlock.io | Launching in Coming</title>
  <meta name="p:domain_verify" content="e865007b243a54ba064b6163ed747709"/>
  <meta itemprop="name" content="SafeBlock.io | Keep your Cryptos. Safely.">
  <meta itemprop="description" content="With SafeBlock.io Keep all your Cryptos in a Perfect Security 💪">
  <meta itemprop="keywords" content="safeblock,SafeBlock.io,safeblock wallet,crypto,wallet,cryptocurrencies,crypto wallet,bitcoin wallet,stratis,dash,dashcoin,zcash,zcash wallet,stratis wallet,stratis wallet,proof of work,proof of stake,ethereum,ethereum wallet,ethereum smart contracts,smart contracts,stratis smart contracts,ico,ico platform,exchange,escrow,mixing,buy bitcoins,staking,docker,vault">
  <meta name="author" content="Clint Mourlevat">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700">
  <link rel="icon" href="~/favicon.png" type="~/image/png">
  <link rel="apple-touch-icon" href="~/apple-touch-icon.png">
  <link rel="stylesheet" href="~/css/plugins/bootstrap.min.css">
  <link rel="stylesheet" href="~/css/icons/font-awesome.css">
  <link rel="stylesheet" href="~/css/plugins/loaders.min.css">
  <link rel="stylesheet" href="~/css/plugins/photoswipe.css">
  <link rel="stylesheet" href="~/css/icons/photoswipe/icons.css">
  <link rel="stylesheet" href="~/css/style.css">
  <link href="~/css/responsive.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body data-spy="scroll" data-target=".scrollspy" class="bg-dark">
<div class="loader bg-dark">
  <div class="loader-inner ball-scale-ripple-multiple ball-scale-ripple-multiple-color">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<div id="page">
@*<div class="section-overlay bg-black overlay-opacity-2"></div>*@
  <div id="modal-notify" class="modal fade modal-scale" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
    <div class="modal-dialog" role="document">
      <div>
        <div class="modal-content text-center bg-dark text-light">
          <button class="button-close" data-dismiss="modal" aria-label="Close"><i class="icon icon-lg icon-arrows-remove"></i></button>
          <div class="wrap-line border-dark">
            <h3>Notify <span class="font-weight-200">Me</span></h3>
          </div>
          <div class="p-t-b-15">
            <p>Be notified of the launching of our SafeBlock.io platform,<br />No spam just one email at the launch !</p>
          </div>
          <div class="p-t-b-30">
            <form id="mc-form" asp-action="Subscribe" asp-controller="Home" method="post">
              <div class="input-group">
                <input type="email" id="email" class="form-control form-control-light text-lowercase" name="email" placeholder="Enter your Email here...">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-color">
                    <i class="fa fa-paper-plane"></i>
                  </button>
                </span>
              </div>
              <div id="message-newsletter" class="message-wrapper text-white message">
                <span><label class="message-text" for="email"></label></span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div id="info" class="col-md-12 text-white text-center page-info col-transform">
        <div class="vert-middle">
          <div class="reveal scale-out">
            <div class="p-t-b-15">
              <img src="images/og.png" width="70" alt="SafeBlock.io">
            </div>
            <div class="p-t-b-15">
              <h2><span class="font-weight-200">Join us in the launch of </span><br>SafeBlock.io</h2>
              <p>With SafeBlock.io Keep all your Cryptos in a Perfect Security 👌<br />Wallet, Merchant solutions. ICO incoming. 🚀</p>
            </div>
            <div class="p-t-b-20">
              <i class="icon icon-sm icon-arrows-slim-down-dashed"></i>
            </div>
            <div class="p-t-b-15 btn-row">
              <button class="btn btn-color" data-toggle="modal" data-target="#modal-notify" role="button">Notify me</button>
              <a class="btn btn-border-white" role="button" href="https://twitter.com/safeblock_io">Follow Us on Twitter</a>
            </div>
            <div class="p-t-b-30">
              <p>
                <a href="https://www.facebook.com/safeblockio/" class="link-white"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/safeblock_io" class="link-white"><i class="fa fa-twitter"></i></a>
                <a href="https://www.behance.net/contact6514" class="link-white"><i class="fa fa-behance"></i></a>
                <a href="https://github.com/safeblock/" class="link-white"><i class="fa fa-github"></i></a>
                <a href="mailto:contact@safeblock.io" class="link-white"><i class="fa fa-envelope"></i></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="photoswipe"></div>
<script src="~/js/plugins/jquery1.11.2.min.js"></script>
<script src="~/js/plugins/bootstrap.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/plugins/newsletter-form.js"></script>
<script src="~/js/plugins/photoswipe/photoswipe.min.js"></script>
<script src="~/js/plugins/photoswipe/photoswipe-ui-default.min.js"></script>
<script src="~/js/custom.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-97451022-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-97451022-1');
</script>
<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="015b29c5-d995-4502-8940-80dcf48101c9";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
</body>
</html>
